.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    font-size: larger;
}

.header-left li{
    margin-left: 50px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.header-right {
    margin-right: 50px;
}

